._______________client_modules_canvas_components_canvas_jsx-stylesheet-default {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 300px;
  bottom: 300px;
  background-color: #DDDDDD;
}
._______________client_modules_toolbar_components_toolbar_jsx-stylesheet-default {
  position: absolute;
  top: -2px;
  right: -2px;
  left: calc(100% - 300px);
  bottom: -2px;
  background-color: white;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}
._______________client_modules_code_components_code_jsx-stylesheet-default {
  position: absolute;
  top: calc(100% - 300px);
  bottom: -2px;
  left: -2px;
  right: calc(300px - 2px);
  background-color: white;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}
