._______________client_modules_window_components_window_jsx-stylesheet-default {
  position: fixed;
  background-color: #D6D2D0;
  border-width: 1px;
  border-color: #898688;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 0px 6px 1px #555555;
}
._______________client_modules_window_components_window_content_jsx-stylesheet-default {
  position: absolute;
  top: 25px;
  right: 1px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  border-width: 1px;
  border-style: inset;
  border-color: #9B9DC9;
  border-bottom: 0px;
  border-radius: 4px;
  overflow: hidden;
}
._______________client_modules_window_components_window_content_tabbed_jsx-stylesheet-tabs {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 200px;
  clear: both;
  margin-left: 0px;
  margin-right: 0px;
}
._______________client_modules_window_components_window_content_tabbed_tabbar_jsx-stylesheet-tabbar {
  position: relative;
  height: 32px;
  width: 100%;
}
._______________client_modules_window_components_window_content_tabbed_tabcontent_jsx-stylesheet-content_area {
  position: absolute;
  top: 32px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
._______________client_modules_window_components_window_content_tabbed_tabcontent_jsx-stylesheet-content {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  cursor: default;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #898688;
}
._______________client_modules_window_components_window_content_tabbed_tabcontent_jsx-stylesheet-content_checked {
  z-index: 1;
}
._______________client_modules_window_components_window_resizer_jsx-stylesheet-default {
  position: absolute;
  width: auto;
  height: auto;
  cursor: default;
}
._______________client_modules_window_components_window_resizer_jsx-stylesheet-nw {
  top: -2px;
  left: -2px;
  width: 6px;
  height: 6px;
  cursor: nwse-resize;
}
._______________client_modules_window_components_window_resizer_jsx-stylesheet-n {
  top: -2px;
  left: 6px;
  right: 6px;
  height: 6px;
  cursor: ns-resize;
}
._______________client_modules_window_components_window_resizer_jsx-stylesheet-ne {
  top: -2px;
  right: -2px;
  width: 6px;
  height: 6px;
  cursor: nesw-resize;
}
._______________client_modules_window_components_window_resizer_jsx-stylesheet-e {
  top: 6px;
  bottom: 6px;
  right: -2px;
  width: 6px;
  cursor: ew-resize;
}
._______________client_modules_window_components_window_resizer_jsx-stylesheet-se {
  bottom: -2px;
  right: -2px;
  width: 6px;
  height: 6px;
  cursor: nwse-resize;
}
._______________client_modules_window_components_window_resizer_jsx-stylesheet-s {
  bottom: -2px;
  left: 6px;
  right: 6px;
  height: 6px;
  cursor: ns-resize;
}
._______________client_modules_window_components_window_resizer_jsx-stylesheet-sw {
  bottom: -2px;
  left: -2px;
  width: 6px;
  height: 6px;
  cursor: nesw-resize;
}
._______________client_modules_window_components_window_resizer_jsx-stylesheet-w {
  top: 6px;
  bottom: 6px;
  left: -2px;
  width: 6px;
  cursor: ew-resize;
}
._______________client_modules_window_components_window_tb_jsx-stylesheet-default {
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  height: 24px;
  overflow: hidden;
  cursor: move;
  background-color: #D6D2D0;
}
._______________client_modules_window_components_window_tb_button_jsx-stylesheet-default {
  float: right;
  width: auto;
  height: auto;
  margin-right: 2px;
  padding: 1px;
  background-color: #D6D2D0;
  color: #898688;
  cursor: pointer;
  font-size: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  border-color: #898688;
}
._______________client_modules_window_components_window_tb_button_jsx-stylesheet-default:hover {
  background-color: #EEEEEE;
  border-color: #362922;
}
._______________client_modules_window_components_window_tb_button_jsx-stylesheet-focused {
  color: #362922;
}
._______________client_modules_window_components_window_tb_buttons_jsx-stylesheet-default {
  position: absolute;
  top: 3px;
  right: 0px;
  width: auto;
  height: auto;
}
._______________client_modules_window_components_window_tb_icon_jsx-stylesheet-default {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
._______________client_modules_window_components_window_tb_title_jsx-stylesheet-default {
  position: absolute;
  top: 2px;
  left: 24px;
  right: 0px;
  bottom: 0px;
  color: #898688;
  text-shadow: 1px 1px 1px #AAAAAA;
  overflow: hidden;
}
._______________client_modules_window_components_window_tb_title_jsx-stylesheet-focused {
  color: #362922;
  text-shadow: 1px 1px 1px #888888;
}
._______________client_modules_window_manager_components_custom_drag_layer_jsx-stylesheet-default {
  position: fixed;
  pointer-events: none;
  z-index: 999999;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
._______________client_modules_window_manager_components_window_layer_jsx-stylesheet-default {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
._______________client_modules_window_components_window_content_tabbed_tabbar_tab_jsx-stylesheet-tab {
  float: left;
  height: auto;
  width: auto;
  margin-top: 4px;
  margin-left: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #898688;
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #D6D2D0;
  color: #362922;
}
._______________client_modules_window_components_window_content_tabbed_tabbar_tab_jsx-stylesheet-tab_checked {
  background-color: white;
  z-index: 2;
}
._______________client_modules_window_components_window_content_tabbed_tabbar_tab_jsx-stylesheet-label {
  position: relative;
  padding: 5px;
  cursor: pointer;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
._______________client_modules_window_components_window_content_tabbed_tabbar_tab_jsx-stylesheet-label:before {
  position: absolute;
  bottom: 0px;
  left: -7px;
  width: 6px;
  height: 6px;
  content: ' ';
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-style: solid;
  border-color: #898688;
  border-bottom-right-radius: 6px;
  box-shadow: 2px 2px 0 #D6D2D0;
}
._______________client_modules_window_components_window_content_tabbed_tabbar_tab_jsx-stylesheet-label:after {
  position: absolute;
  bottom: 0px;
  right: -7px;
  width: 6px;
  height: 6px;
  content: ' ';
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-style: solid;
  border-color: #898688;
  border-bottom-left-radius: 6px;
  box-shadow: -2px 2px 0 #D6D2D0;
}
._______________client_modules_window_components_window_content_tabbed_tabbar_tab_jsx-stylesheet-label:hover {
  background-color: #EEEEEE;
}
._______________client_modules_window_components_window_content_tabbed_tabbar_tab_jsx-stylesheet-label:hover:before {
  box-shadow: 2px 2px 0 #EEEEEE;
}
._______________client_modules_window_components_window_content_tabbed_tabbar_tab_jsx-stylesheet-label:hover:after {
  box-shadow: -2px 2px 0 #EEEEEE;
}
._______________client_modules_window_components_window_content_tabbed_tabbar_tab_jsx-stylesheet-label_checked {
  z-index: 2;
  background-color: white;
}
._______________client_modules_window_components_window_content_tabbed_tabbar_tab_jsx-stylesheet-label_checked:before {
  box-shadow: 2px 2px 0 white;
}
._______________client_modules_window_components_window_content_tabbed_tabbar_tab_jsx-stylesheet-label_checked:after {
  box-shadow: -2px 2px 0 white;
}
._______________client_modules_window_components_window_content_tabbed_tabbar_tab_jsx-stylesheet-label_checked:hover {
  background-color: white;
}
._______________client_modules_window_components_window_content_tabbed_tabbar_tab_jsx-stylesheet-label_checked:hover:before {
  box-shadow: 2px 2px 0 white;
}
._______________client_modules_window_components_window_content_tabbed_tabbar_tab_jsx-stylesheet-label_checked:hover:after {
  box-shadow: -2px 2px 0 white;
}
