._______________client_modules_window_components_window_content_tabbed_tabbar_tab_jsx-stylesheet-tab {
  float: left;
  height: auto;
  width: auto;
  margin-top: 4px;
  margin-left: 4px;
  border-width: 1px;
  border-style: solid;
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
._______________client_modules_window_components_window_content_tabbed_tabbar_tab_jsx-stylesheet-tab_checked {
  background-color: white;
  z-index: 2;
}
._______________client_modules_window_components_window_content_tabbed_tabbar_tab_jsx-stylesheet-label {
  position: relative;
  padding: 5px;
  cursor: pointer;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
._______________client_modules_window_components_window_content_tabbed_tabbar_tab_jsx-stylesheet-label:before {
  position: absolute;
  bottom: 0px;
  left: -7px;
  width: 6px;
  height: 6px;
  content: ' ';
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-style: solid;
  border-bottom-right-radius: 6px;
}
._______________client_modules_window_components_window_content_tabbed_tabbar_tab_jsx-stylesheet-label:after {
  content: ' ';
  position: absolute;
  bottom: 0px;
  right: -7px;
  width: 6px;
  height: 6px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-style: solid;
  border-bottom-left-radius: 6px;
}
._______________client_modules_window_components_window_content_tabbed_tabbar_tab_jsx-stylesheet-label_checked {
  z-index: 2;
  background-color: white;
}
._______________client_modules_window_components_window_content_tabbed_tabbar_tab_jsx-stylesheet-label_checked:before {
  box-shadow: 2px 2px 0 white;
}
._______________client_modules_window_components_window_content_tabbed_tabbar_tab_jsx-stylesheet-label_checked:after {
  box-shadow: -2px 2px 0 white;
}
._______________client_configs_themes_default-theme_js-theme-primary_colors {
  background-color: #D6D2D0;
  border-color: #898688;
  color: #898688;
}
._______________client_configs_themes_default-theme_js-theme-primary_colors_hover:hover {
  background-color: #EEEEEE;
  border-color: #362922;
}
._______________client_configs_themes_default-theme_js-theme-primary_colors_hover:hover:before {
  box-shadow: 2px 2px 0 #EEEEEE;
}
._______________client_configs_themes_default-theme_js-theme-primary_colors_hover:hover:after {
  box-shadow: -2px 2px 0 #EEEEEE;
}
._______________client_configs_themes_default-theme_js-theme-primary_colors_focus {
  color: #362922;
}
._______________client_configs_themes_default-theme_js-theme-primary_colors_pseudo:before {
  border-color: #898688;
}
._______________client_configs_themes_default-theme_js-theme-primary_colors_pseudo:after {
  border-color: #898688;
}
._______________client_configs_themes_default-theme_js-theme-primary_text_shadow {
  text-shadow: 1px 1px 1px #AAAAAA;
}
._______________client_configs_themes_default-theme_js-theme-primary_text_shadow_focus {
  text-shadow: 1px 1px 1px #888888;
}
._______________client_configs_themes_default-theme_js-theme-primary_box_shadow_pseudo:before {
  box-shadow: 2px 2px 0 #D6D2D0;
}
._______________client_configs_themes_default-theme_js-theme-primary_box_shadow_pseudo:after {
  box-shadow: -2px 2px 0 #D6D2D0;
}
._______________client_configs_themes_default-theme_js-theme-secondary_colors {
  background-color: white;
  border-color: #9B9DC9;
  color: #362922;
}
